@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0%;
}
.outside {
  position: sticky;
  top: 0px;
  z-index: 2;
  /* padding: 30px; */
}
.header {
  /* position: fixed; */

  border: 0px solid black;
  display: flex;
  height: 56px;

  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(241, 114, 40, 0.05);
  justify-content: space-between;
  align-items: center;
}
/* .header .mainContent {
  position: fixed;
  top: 0px;
  left: 0px;
} */
.container-logo {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.logo-icon {
  position: relative;
  display: inline-block;
  align-items: center;
  padding-right: 10px;
}
.food-delivery {
  display: inline-block;
  position: relative;
  color: #f17228;
  font-family: "Poppins";
  font-weight: 700;
  font-weight: bold;
  font-size: 18px;
}
.cont-menu {
  display: flex;
  position: relative;
  justify-content: space-between;
  line-height: 24px;
  align-items: center;
}
.cont-menu div {
  /* justify-content: space-between; */
  font-family: "Poppins";
  font-style: normal;
  /* font-weight: 500; */
  /* font-weight: medium; */
  font-size: 16px;
  /* line-height: 24px; */
  margin: 0px 10px;
  /* align-items: center; */
}
.cont-menu div:hover {
  color: #f17228;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-weight: bold;
}
.menu-1 {
  color: #f17228;
}
.search {
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  width: 235px;
  height: 32px;
  border: 1px solid #f17228;
  background-image: url("/pictures/logos/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position: 10px;
  align-items: center;
}
#search {
  padding-left: 30px;
}
.login-busketcont {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  /* width: 120px; */
}
.sub-con {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.sub-con div {
  display: flex;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  font-family: "Poppins", "sans-serif";
  font-weight: 500px;
  text-align: center;
  padding-left: 10px;
}
.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logos div {
  padding: 10px;
}

.mainContent {
  max-width: 1440px;
  margin: auto;
  padding: 30px;
}
.login-busketcont a {
  text-decoration: none;
  color: #f17228;
}
.login-busket a:hover {
  text-decoration: none;
  color: rgb(32, 31, 31);
}
/* tablet version */
@media (max-width: 1200px) {
  .search {
    /* box-sizing: border-box; */
    position: relative;
    border-radius: 10px;
    width: 32px;
    height: 32px;
    border: 1px solid #f17228;
    background-image: url("/pictures/logos/search\ icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-position: 10px;
    align-items: center;
    border: none;
    transition-delay: 250ms;
    transition-duration: 1s;
  }
  .logos {
    display: flex;
    justify-content: space-between;
  }
  .search:focus {
    position: relative;
    border-radius: 10px;
    width: 150px;
    height: 32px;
    border: 1px solid #f17228;
    background-image: url("/pictures/logos/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-position: 10px;
    align-items: center;
    transition-delay: 250ms;
    transition-duration: 1s;
    border: 1px #f17228 solid;
  }
  .sub-con div {
    display: none;
    padding: 20px;
  }
  .sub-con {
    padding-right: 40px;
  }
  .login-busketcont {
    /* width: 10px; */
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    /* padding: 20px; */
  }
  .header {
    justify-content: space-around;
    padding: 20px;
  }
  .mainContent {
    max-width: 1200px;
    margin: auto;
    padding: 30px;
  }
}
/* mobile version */
@media (max-width: 700px) {
  .search {
    /* box-sizing: border-box; */
    position: relative;
    border-radius: 10px;
    width: 32px;
    height: 32px;
    border: 1px solid #f17228;
    background-image: url("/pictures/logos/search\ icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-position: 10px;
    align-items: center;
    border: none;
    transition-delay: 250ms;
    transition-duration: 1s;
  }
  .sub-container{
    background-color: aqua;
    display: block;
  }
  .logos {
    display: flex;
    justify-content: space-between;
  }
  .search:focus {
    position: relative;
    border-radius: 10px;
    width: 150px;
    height: 32px;
    border: 1px solid #f17228;
    background-image: url("/pictures/logos/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-position: 10px;
    align-items: center;
    transition-delay: 250ms;
    transition-duration: 1s;
    border: 1px #f17228 solid;
  }
  
  .sub-con {
    padding-right: 40px;
  }
  .login-busketcont {
    /* width: 10px; */
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    /* padding: 20px; */
  }
  .header {
    justify-content: space-around;
    padding: 20px;
  }
  .mainContent {
    max-width: 700px;
    margin: auto;
    padding: 30px;
  }
}

