@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
.sales-title {
  display: flex;
  /* margin: 0px 50px; */
}
.container-sale {
  width: 359px;
  height: 440px;
  justify-content: flex-start;
  margin-top: 80px;
  /* top: 112px; */
}
.main {
  max-width: 359px;
  margin: auto;
  height: 55vh;
}
.sales {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sales span {
  width: 11px;
  height: 30px;
  background-color: #f17228;
  border: 1px solid #f17228;
  /* margin: 0px 10px; */
}
.sales h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  /* align-items: center; */
  color: #171717;
}
.register input {
  background: #ffffff;
  border: 1px solid #ffd7bf;
  box-sizing: border-box;
  border-radius: 16px;
  width: 359px;
  height: 40px;
}

.container-sale label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 250;
  font-size: 14px;
  line-height: 140%;
}
.email {
  margin: 5px 0px;
}
.email input {
  margin: 12px 0px;
  padding-left: 20px;
}
.password {
  margin: 5px 0px;
}
.password input {
  margin: 12px 0px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("/pictures/logos/hide.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}
#submit {
  width: 359px;
  height: 48px;
  background: #f17228;
  border-radius: 20px;
  border: none;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
#register {
  width: 359px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #f17228;
  box-sizing: border-box;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #f17228;
}
.register p {
  align-items: center;
  text-align: center;
  margin: 10px 0px;
  text-decoration-line: underline;
  color: #828282;
}
.register a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  /* line-height: 140%; */
  text-decoration: none;
  display: block;
  text-align: right;
  color: #171717;
}
