@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
.cont {
  background: linear-gradient(
    179.24deg,
    #f17228 -90.18%,
    rgba(255, 255, 255, 0) 41.19%
  );
}
.container-feature {
  max-width: 1440px;
  margin: auto;
  padding: 20px;
  height: 248px;
  left: 0px;
  top: 552px;
}
.sub-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  border-radius: 30px;
  height: 150px;
}
.sub-container div p {
  display: inline;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1d1d1f;
  opacity: 0.75;
}
.sub-container div h3 {
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}
.feature-1 {
  display: flex;

  color: #1d1d1f;
}
.feature-2 {
  display: flex;
}
.feature-3 {
  display: flex;
  /* margin: 0px 10px; */
}
.sub-container img {
  margin: 15px 15px;
  width: 30px;
  height: 30px;
  /* justify-content: center; */
  /* align-items: center; */
}
.img-feature {
  width: 60px;
  height: 60px;
  background: rgba(255, 215, 191, 0.28);
  border-radius: 10px;
  margin: 0px 10px;
}
.img-feature-1 {
  width: 60px;
  height: 60px;
  background: rgba(255, 215, 191, 0.28);
  border-radius: 10px;
  margin: 0px 10px;
}
.img-feature-2 {
  width: 60px;
  height: 60px;
  background: rgba(255, 215, 191, 0.28);
  border-radius: 10px;
  margin: 0px 10px;
}

.sliderBackground {
  background-image: url("/pictures/pics/base.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.maincontainer {
  height: 496px;
  margin: auto;
  max-width: 1440px;
}
.slider-text {
  width: 383px;
  right: 222px;
  line-height: 10px;
}
#span {
  border-top: 2px solid rgba(241, 114, 40, 0.6);
  display: block;
  padding-bottom: 20px;
}
.slider-text h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 90%;
  color: #f17228;
  padding-bottom: 20px;
}
.slider p {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.01em;
}
#slider {
  display: flex;
  justify-content: space-between;
  text-align: right;
  align-items: center;
}
.pic {
  display: flex;
  position: relative;
}
.pic-1 {
  position: absolute;
  width: 345px;
  height: 311px;
  left: 182.75px;
  z-index: 1;
  top: 64.46px;
}
.pic-2 {
  position: relative;
  width: 305px;
  height: 369.08px;
  left: 60.25px;
  top: 15.46px;
}
#arrow {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px rgba(251, 197, 166, 0.2);
  /* border-radius: 30px; */
  border-radius: 30px;
  width: 60px;
  height: 40px;
  padding: 10px 20px;
}
#arrow:hover {
  background: rgba(221, 220, 220, 0.5);
}
#arrow img {
  /* border: 2px solid #f17228; */
  width: 26px;
  height: 20px;
}

.container-sliders {
  display: flex;
  justify-content: center;
  /* margin-top: 10px; */
}
.container-sliders #sliders {
  width: 50px;
  height: 16px;
  display: flex;
  justify-content: space-between;
}
.tom {
  background: #f17228;
  border-radius: 5px;
  width: 21px;
  height: 8px;
}
.jijig {
  background: #fbc5a6;
  border-radius: 5px;
  width: 10px;
  height: 8px;
}

.sales-title {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px;
}
.container-sale {
  max-width: 1440px;
  margin: auto;
  /* margin: 10px; */
}
.sales {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sales span {
  width: 11px;
  height: 30px;
  background-color: #f17228;
  border: 1px solid #f17228;
  margin: 0px 10px;
}
.sales h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  /* align-items: center; */
  color: #171717;
}
.see-all input {
  width: 180px;
  height: 48px;
  background-color: #f17228;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
}
.see-all input::after {
  background-image: url("/pictures/logos/Arrow\ 2.svg");
  width: 10px;
  height: 20px;
  /* color: #ffffff; */
}
@media (max-width: 1200px) {
  .see-all input {
    width: 180px;
    height: 48px;
    background-color: #f17228;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #ffffff;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 14px;
    display: none;
  }
  .see-all div {
    background-image: url("/pictures/logos/chevron\ left.svg");
    width: 10px;
    height: 20px;
  }
}
/* .see-all {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  color: #ffffff;
  text-align: center;
  margin: 10px 20px;
} */
/* .see-all input::after { */
/* content: &#62; */
/* } */
/* .see-all img {
  box-sizing: border-box;
  display: flex;
  width: 12px;
  height: 17px;
} */
