@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
.sliderBackground {
  background-image: url("/pictures/pics/base.svg");
  background-repeat: no-repeat;
  height: 496px;
}
.maincontainer {
  height: 496px;
}
.slider-text {
  width: 383px;
  right: 222px;
  line-height: 10px;
}
#span {
  border-top: 2px solid rgba(241, 114, 40, 0.6);
  display: block;
  padding-bottom: 20px;
}
.slider-text h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 90%;
  color: #f17228;
  padding-bottom: 20px;
}
.slider p {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.01em;
}
#slider {
  display: flex;
  justify-content: space-between;
  text-align: right;
  align-items: center;
}
.pic {
  display: flex;
  position: relative;
}
.pic-1 {
  position: absolute;
  width: 345px;
  height: 311px;
  left: 182.75px;
  z-index: 1;
  top: 64.46px;
}
.pic-2 {
  position: relative;
  width: 305px;
  height: 369.08px;
  left: 60.25px;
  top: 15.46px;
}
#arrow {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px rgba(251, 197, 166, 0.2);
  /* border-radius: 30px; */
  border-radius: 30px;
  width: 60px;
  height: 40px;
  padding: 10px 20px;
}
#arrow:hover {
  background: rgba(221, 220, 220, 0.5);
}
#arrow img {
  /* border: 2px solid #f17228; */
  width: 26px;
  height: 20px;
}

.container-sliders {
  display: flex;
  justify-content: center;
  /* margin-top: 10px; */
}
.container-sliders #sliders {
  width: 50px;
  height: 16px;
  display: flex;
  justify-content: space-between;
}
.tom {
  background: #f17228;
  border-radius: 5px;
  width: 21px;
  height: 8px;
}
.jijig {
  background: #fbc5a6;
  border-radius: 5px;
  width: 10px;
  height: 8px;
}
