* {
  box-sizing: border-box;
  margin: 0%;
}
.logo-cont {
  border: 0px solid black;
  display: flex;
  height: 56px;
  max-width: 100%;
  margin: 0%;
  background: #fefefe;
  box-shadow: 0px 2px 4px rgba(241, 114, 40, 0.05);
  font-family: "Poppins";
  /* justify-content: space-around; */
}
.logo-icon {
  position: relative;
  display: inline;
  background-image: url("/ProjectSumiya/header/iamage.png");
  background-repeat: no-repeat;
  width: 40px;
  top: 8px;
  height: 40px;
  left: 11.3%;
}
.food-delivery {
  display: inline;
  position: relative;
  left: 11%;
  padding: 13px;
  color: #f17228;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}
.cont-menu {
  display: flex;
  position: relative;
  justify-content: center;
  line-height: 24px;
  padding: 13px;
  left: 20%;
  align-items: center;
}
.cont-menu div {
  justify-content: space-between;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 10px;
  align-items: center;
}
.menu-1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cont-menu div:hover {
  color: #f17228;
}
.search {
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  width: 235px;
  height: 32px;
  left: 25.25%;
  margin: 10px;
  border: 1px solid #f17228;
  background-image: url("/ProjectSumiya/header/.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position: 10px;
  align-items: center;
}
#search {
  padding-left: 30px;
}
.login-busket {
  display: flex;
  position: relative;
  align-items: center;
  color: #f17228;
  left: 30%;
}
.login-busket div {
  padding: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}
.busket {
  background-image: url(/ProjectSumiya/header/busket\ icon.png);
  background-repeat: no-repeat;
  background-position: -1px;
}
.user-icon {
  background-image: url(/ProjectSumiya/header/user\ icon.png);
  background-repeat: no-repeat;
  background-position: -1px;
}
